*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3) ,rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 nav .logo{
width: 80px;
 }
 nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
 }
 nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
   
 }
 nav ul li a:hover{
    background-color: none;
       color: gray;
       background-color: transparent; /* Removes the background color */
  border: none;
    }
 .content{
    text-align: left;
    padding-right: 800px;
    padding-top: 200px;
 }
 .content h1{
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
   

 }
 .content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-decoration: none;
    background-color: transparent;

 }
 .content a{
  text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
 }
 .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
 }
 .WATCHES{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
   padding-left: 100px;
   padding-top: 200px;
   font-size: 60px;
   font-weight: normal;

   
   
 }
 .div{
    width: 40%;
 }
 .chat{
   font-weight: lighter;
   font-size: small;
   padding-top: 30px;
   width: 40%;
 }
 .container{
    
    padding-left: 500px;
    font-size: small;
   
 }
   .images{
      padding-bottom: 900px;
      margin-bottom: 900px;
   }


   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header section */

header{
    width: 100%; 
    max-width: 100%;
    padding-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

header nav a{
    color: #fff;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
}

a.active{
    background: white;
    color: black;
    border-radius: 2px;
}

a:hover{
    background: darkgrey;
    border-radius: 2px;
}

/* Header section */



/* carousel */

.carousel{
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}





.list .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    line-height: 1;

    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .name{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);

    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;
padding-right: 30px;
    width: 250px;
    margin: 60px;
  opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .btn{
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid #fff;
}

.content .btn button:nth-child(1){
    margin-right: 15px;
}

.content .btn button:nth-child(2){
    background: transparent;
    color: white;
    border: 2px solid #fff;
    transition: 0.3s;
}

.content .btn button:nth-child(2):hover{
    background-color: black;
    color: #fff;
    border-color: #000
}

@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */






/* next prev arrows */

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(15, 15, 44);
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover{
    background: #fff;
    color: #000;
}


/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: wheat;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}


/* Responsive Design */

@media screen and (max-width: 999px){
    
    header{
        padding-left: 50px;
    }

    .list .item .content{
        left: 50px;
    }

    .content .title, .content .name{
        font-size: 70px;
    }

    .content .des{
        font-size: 16px;
    }

}

@media screen and (max-width: 690px){
    header nav a{
        font-size: 14px;
        margin-right: 0;
    }

    .list .item .content{
        top: 40%;
    }

    .content .title, .content .name{
        font-size: 45px;
    }

    .content .btn button{
        padding: 10px 15px;
        font-size: 14px;
    }
}
     











footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}





.single-content{
    padding-right: 20px;
    width: 500px;
    height: 400px;
    padding-bottom: 10px;padding: 20px;
    margin-left: 5px;
    
    font-family: "Source Code Pro", monospace;
}


.container1{
    font-size: 80px;
    color: #fff;
    background-color: black;
    font-weight: 600;
    transition: 0.5s;
    text-align: left;
    height: 1000px;
}

 
 .container1 h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;

 }
 .container1 a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
 }

 .para{
  margin: 0;
  background-color: black;
  height: 500px;
  padding-bottom: 20px;


}
 
  #parallax {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: 300px;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(paraaa.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
   padding-left: 40px;
    padding-bottom: 90px;
   
  }
  
  .text-left {
    font-family: "Lavishly Yours", cursive;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 10%; /* Adjust for proper alignment */
    transform: translateY(-50%);
    color: #ffffff; /* White text for contrast */
    font-size: 18px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    text-align: left;
  }
  





  
 .text-left p{

    color: #fff;
    font-weight: 600;
    transition: 0.5s;
   

 }
 .text-left p:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-decoration: none;
    background-color: transparent;

 }
 .content a{
  text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
 }









  

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: 1.5px solid #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url('../img/sky.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.bushes {
  background: url('../img/bushes.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.water {
  background: url('../img/water.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.people1 {
  background: url('../img/people1.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.people2 {
  background: url('../img/people2.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.people3 {
  background: url('../img/people3.png') no-repeat center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.hero-text {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

.year-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 17rem;
  height: 25rem;
}

.year-container h1 {
  font-family: Bebas, sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 12.5rem;
}

.year-container h1:nth-of-type(1) {
  top: 10%;
}

.year-container h1:nth-of-type(2) {
  left: 30%;
  bottom: 0;
}

.year-container h1:nth-of-type(3) {
  top: 0;
  right: 30%;
}

.year-container h1:nth-of-type(4) {
  right: 0;
  bottom: 20%;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.info-container {
  background: #000;
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-container img {
  width: 75%;
  margin-bottom: 2.5rem;
  filter: saturate(0.65);
}

.info-container h2,
.info-container p {
  margin-bottom: 1rem;
}

.text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 3rem;
}

@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    text-align: left;
  }

  .info-container img {
    justify-self: end;
    width: 75%;
  }

  .text-container p:nth-of-type(1) {
    font-size: 1rem;
    width: 75%;
    margin: 1rem 0;
  }

  .text-container p:nth-of-type(1) {
    font-size: 0.86rem;
  }
}

@media (min-width: 1126px) {
  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .hero-text {
    background-size: contain;
  }
}
